@model IEnumerable<ProductsDLL.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Name = item.CategoryName }) |
                        @Html.ActionLink("Details", "Details", new { Name = item.CategoryName }) |
                        @Html.ActionLink("Delete", "Delete", new { Name = item.CategoryName })
                    </td>
                </tr>
            }
        }
    }
</table>
